[Unit]
Description=Laurel replay buffer (GPU Screen Recorder)
After=graphical-session.target

[Service]
Type=forking
ExecStart=/usr/bin/laurel-replay start
ExecStop=/usr/bin/laurel-replay stop
Environment=DISPLAY=:0
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
